<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/header.ejs') %>
<body>
<%- include('./partials/navbar.ejs') %>

<div class="container">
  <h1>Página Principal</h1>

  <% perguntas.forEach(pergunta => { %>
    <div class="card">
      <div class="card-body">
        <h6>ID Pergunta: <%= pergunta.id %> </h6>
		    <h3><%= pergunta.title %> </h3>
      </div>
      <div class="card-footer">
        <a href="<%= pergunta.id %>/responder" class="btn btn-primary">Responder</a>
      </div>
    </div>   
  <% }); %>
</div>
  
<%- include('./partials/footer.ejs') %>
</body>
</html>